.dropdown {
    position: relative;
    display: inline-block;
    width: 220px;
}

.dropdown-selected {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-selected i {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Reduziert den Abstand zwischen Icon und Text */
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options div {
    padding: 10px;
    cursor: pointer;
}

.dropdown-options div:hover {
    background-color: #f0f0f0;
}

.dropdown-options .selected {
    background-color: #e0e0e0;
    font-weight: bold;
}
